.App {
  margin: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 317px;
  background-color: #1A1B21;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
